<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920618050022-3dk5uqn4afaagi3ft8t63rc8aoptidkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920618050022-3dk5uqn4afaagi3ft8t63rc8aoptidkc</string>
	<key>API_KEY</key>
	<string>AIzaSyBRUnBffjIK9PmfksKG8ahPMAVak44vHuM</string>
	<key>GCM_SENDER_ID</key>
	<string>920618050022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>linkd-swift</string>
	<key>PROJECT_ID</key>
	<string>linkd-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>linkd-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920618050022:ios:55ecad80e8c51cfbed7627</string>
</dict>
</plist>